html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto Condensed", sans-serif;
  /* background: linear-gradient(45deg, #000000, #282A3A, #52616B, #1E2022); */
  background: #191919;
  color: #ffffff;
}

.yellow {
  color: #afa240;
}

.decoration {
  text-decoration: none;
}

img {
  border-radius: 9999px !important;
}
